@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    width: 1440px;
    font-family: 'Mulish', sans-serif;
    font-size: 10px;
    color: #333333;
}   

#navtop {
    position: relative;
    height: 60px;
    padding: 0 165px;
    background-color: #F5FAFE; 
}

.items-navtop {
    position: absolute;
    display: inline-block;
    top: 15px;
}

#gift-icon {
    left: 890px;
    top: 20px;
}

#gift-text {
    left: 920px;
}

#star-icon {
    left: 1082px; 
    top: 20px;   
}

#loyalty-text {
    left: 1112px;    
}

#gift-text>a:link {
    color: #000;
}

#gift-text>a:visited {
    color: #000; 
}

#loyalty-text>a:link {
    color: #000;
}

#loyalty-text>a:visited {
    color: #000;
}

#navbar {
    position: relative;
    height: 120px;
    padding: 0 165px;
    font-size: 40px;
}

.items-navbar {
    position: absolute;
    display: inline-block;
    top: 15px; 
    
}

#title-navbar, #title-navbar>p {
    display: inline-block;
    font-family: 'Luckiest Guy', cursive;
    font-size: 24px;       
}

#tour-text {
    color: #ff0000;
}

#input-navbar {
    width: 260px;
    height: 40px;
    left: 430px;
    top: 30px;
}

#container-btn-navbar, #btn-navbar {
    width: 65px;
    height: 40px;
    padding: 0;
    left: 689px;
    top: 29px;
}

#btn-navbar:hover {
    cursor: pointer;
}

#badge-cart {
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    border-radius: 50%;
    left: 975px;
    top: 30px;
}

#badge-cart p {
    position: relative;
    text-align: center ;
    font-size: 14px;
    color: #ffffff;
    margin-top: 1px;
}

#cart-ico {
    left: 960px;
    top: 23px;
}

#user-img-navbar {
    left: 1030px;
    top: 30px;
}

#user-select-login {
    left: 1078px;
    top: 20px;
}

#navbar-bottom {
    position: relative;
    height: 80px;
    padding: 16px 125px;
    background-color: #0A223D;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
}

#menu-navbar-bottom li {
    position: relative;
    display: inline-block;
    list-style: none; 
    margin: 0; 
    padding: 0;
    margin-left: 67px; 
    transform: scale(1);
    transition: all 0.2s 0s ease-in-out;   
}

#menu-navbar-bottom li:first-child {
    margin-left: 0;
    padding-left: 0;
}

#menu-navbar-bottom a:link {
    color: #ffffff;
    text-decoration: none;
} 

#menu-navbar-bottom a:visited {
    color: #ffffff;
    text-decoration: none;
} 

#menu-navbar-bottom li:hover{
    transform: scale(1.05); 
}

#bread-crumb {
    position: relative;
    height: 50px;
    background-color: #F5FAFE;
}

#menu-bread-crumb li{
    position: relative;
    display: inline-block;
    list-style: none; 
    margin: 0; 
    padding: 0;
    left: 120px;
    top: 10px;
    transform: scale(1);
    transition: all 0.2s 0s ease-in-out; 
}

#menu-bread-crumb a:link {
    color: #333333;
    text-decoration: none;
} 

#menu-bread-crumb a:visited {
    color: #333333;
    text-decoration: none;
} 

#menu-bread-crumb li:hover{
    transform: scale(1.05); 
}


