@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Mulish', sans-serif;
    font-size: 10px;
    color: #333333;
    min-width: 1300px; 
    max-width: 1400px;  
    margin: auto; 
}   

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

#navtop {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 15px 165px;
    background-color: #F5FAFE; 
}

#info-navtop {
    flex-basis: 60%;
}

#gift-navtop {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 115px;
    height: 18px;
}

#icon-gift {
    position: relative;
    overflow: hidden;
    background-image: url(../images/icon-gift.svg);
    width: 18px;
    height: 18px;
}

#gift-text {
    position: relative;
    overflow: hidden;
}

#loyalty-navtop {
    display: flex;
    justify-content: space-between;
    width: 115px;
    height: 18px;
}

#icon-star {
    background-image: url(../images/icon-star.svg);
    width: 18px;
    height: 18px;   
}

#navbar {
    position: relative;
    display: flex;
    justify-content: space-between; 
    height: 120px;
    padding: 30px 165px;
    font-size: 40px;
}

#title-navbar {
    width: 190px;
    height: 30px;
    margin-top: 10px; 
    font-family: 'Luckiest Guy', cursive;
    font-size: 24px;     
}

#title-navbar>p {
    display: inline-block;     
}

#tour-text {
    color: #ff0000;
}

#form-navbar {
    position: relative; 
    display: flex; 
    width: 350px;
    height: 40px;
}

#input-navbar {
    position: relative;
    width: 285px;
    height: 40px;
}

#btn-navbar {
    position: relative;
    width: 65px;
    height: 40px;
    background-image: url(../images/Find\ Button.svg);
    cursor: pointer;
    border: none;
}

#cart-navbar {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-basis: 25%;
    width: 34px;
    height: 34px;
    padding-right: 10px;
}

#ico-cart {
    width: 24px;
}

#badge-cart {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    background-color: #ff0000;
    border-radius: 50%;
    text-align: center ;
    font-size: 14px;
    color: #ffffff;
}

#user-navbar {
    display: flex;
    width: 150px;
    height: 40px;
}

#img-user-navbar {
    background-image: url(../images/user-photo-0001.svg);
    width: 40px;
}

#select-user-login {
    width: 110px; 
    border: none;
}

#navbar-bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 30px 165px;
    background-color: #0A223D;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
}

#navbar-bottom a {
    transform: scale(1); 
    transition: all 0.2s 0s ease-in-out;   
}
#navbar-bottom a:hover {
    transform: scale(1.05); 
}

#navbar-bread-crumb {
    position: relative;
    display: flex;
    padding: 10px 165px;
    height: 50px;
    background-color: #F5FAFE;
}

#title-hotel {
    display: flex;
    flex-flow: column wrap; 
    justify-content: space-between;
    position: relative;
    height: 100px;
    padding: 20px 165px;
    background-color: #F5FAFE;
}

#img-stars {
    width: 48px;
    height: 8px;
    background-image: url(../images/Stars.svg);
}

#title-hotel h1 {
    display: inline;
    font-size: 24px;
    font-weight: bold;
}

#offer-title-hotel {
    position: absolute;
    display: inline-block;
    width: 70px;
    height: 20px;
    background-color: #EC1F46;
    border-radius: 5%;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    padding-top: 4px;
    left: 450px;
    top: 33px;
}

#title-hotel h1 p {
    display: inline-block;
    font-size: 12;
}

#rating-title-hotel {
    position: relative;
    align-self: flex-end;
    
    width: 70px;
    height: 45px;
    padding-top: 5px;

    background-color: #EC1F46;
    border-radius: 5%;
    color: #ffffff;
    text-align: center;
}

#rating-title-hotel>#row-1{
    font-size: 8;
    font-weight: 600;
}

#rating-title-hotel>#row-2{
    font-size: 14px;
    font-weight: bold;
}

#rating-title-hotel #row-2-2 {
    font-size: 10px;
}

#booking {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between; 
    height: 420px;
    padding: 0 165px;    
}

#photo-booking {
    background-image: cover;
    width: 680px;
    height: 450px; 
    border-radius: 5%;
    overflow: hidden;
}

#arrow-left-booking,
#arrow-right-booking {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 600px;
    cursor: pointer;
}

#arrow-left-booking {
    background-image: url(../images/chevron-left.svg);
}

#arrow-right-booking {
    left: 815px;
    background-image: url(../images/chevron-right.svg);
}

#price-booking {
    position: relative;
    align-self: flex-end;
    
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap; 
    width: 328px;
    height: 205px;
    border-radius: 5%;
    background-color: #0A223D;
    color: #ffffff;
    padding: 20px 20px;
}

#menu-1-price-booking {
    position: relative;
    display: inline-block;
    font-size: 8px;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

#menu-1-price-booking li:nth-child(2) {
    font-size: 24px;
    font-weight: 800;
}

#menu-1-price-booking li:nth-child(3) {
    font-size: 12px;
}

#menu-1-price-booking li:nth-child(4) {
    font-size: 12px;
}

#menu-1-price-booking li:last-child {
    font-size: 18px;
    block-size: 600;
}

#menu-2-price-booking {
    position: relative;
    display: inline-block;
    text-align: end;
    font-size: 12px;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

#menu-2-price-booking li:nth-child(3) {
    font-size: 30px;
}

#menu-2-price-booking:last-child {
    font-size: 18px;
    font-weight: 600;
}

#icon-peaple-booking {
    width: 14px;
    height: 14px;
}

#icon-room-booking {
    width: 14px;
    height: 14px;
    background-image: url(../images/icon-home.svg);
}

#icon-phone-booking {
    width: 14px;
    height: 14px;
    background-image: url(../images/icon-phone-call.svg);
}

#btn-booking {
    position: relative;
    margin: auto;
    width: 80%;
    height: 20%;
    border-radius: 2%;
    background-color: #EC1F46;
    padding: 2%;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

#map-booking {
    position: relative;
    align-self: flex-end;
    width: 328px;
    height: 205px;
    border-radius: 5%;
    background-image: url(../images/map.svg);
}

#menu-map {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 145px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: -0.5px 1px 2px 1px rgba(0, 0, 0, 0.2); 
    font-family: 'Nunito', sans-serif;
    font-size: 7px;
    bottom: 10px;
    left: 80px;
    padding: 5px;
    transition: all 0.3s 0s ease;   
}

#menu-map span:hover {
    color: #007ADF;
    cursor: pointer;
}

#btn-zoom-map {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    width: 17px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: -0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.2); 
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    top: 30px;
    right: 10px;
    padding-left:4px;
}

#btn-zoom-map div{
    height: 15px;
    cursor: pointer;
}

#navbar-package {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 130px;
    padding: 60px 165px 40px 165px;
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    transition: all 0.2s 0s ease-in-out;
}

#navbar-package a:hover{
    color: #EC1F46;
    font-weight: bold;
    border-bottom: 4px solid currentColor;
}

#title-package {
    position: relative;
    padding: 0 165px;
    height: 70px;
    font-size: 24px;
    font-weight: bold;
}

#section-1-package {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 165px;
    height: 300px;
}

#box-1-section-1{
    position: relative;
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-evenly;
    width: 500px;
    height: 240px;
    list-style-image: url(../images/circle\ check\ full.svg); 
}

#title-box-1-section-1 {
    background-color: #0A223D;
    width: 100%;
    height: 40px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0 10px 20px;
}

#box-1-section-1 li {
    font-size: 12px;
    list-style-image: url(../images/circle\ check\ full.svg); 
    list-style-position: outside;
}

#box-1-section-1 li:nth-child(even) {
    list-style: none;
}

#box-1-section-1 #ul1 {
    margin-right: 40px;
    margin-bottom: 50px;
    align-items: flex-start;
}

#box-2-section-1{
    position: relative;
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-evenly;
    width: 500px;
    height: 240px;
    
}

#title-box-2-section-1 {
    background-color: #0A223D;
    width: 100%;
    height: 40px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0 10px 20px;
}

#box-2-section-1 #ul1 {
    margin-right: 40px;
    margin-bottom: 50px;
    align-items: flex-start; 
    list-style: none;
}

#box-2-section-1 #ul2 {
    list-style: none;
}

#box-2-section-1 li {
    font-size: 12px;
    list-style-position: outside;
    }

#box-2-section-1 #ul1 li:first-child {
    list-style-image: url(../images/circle\ check\ full.svg); 
}

#box-2-section-1 #ul2 li:first-child {
    list-style-image: url(../images/calendar.svg); 
}


