@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    /*width: 1440px;*/
    font-family: 'Mulish', sans-serif;
    font-size: 10px;
    color: #333333;
}   

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    list-style: none;
}


#navtop {
    position: relative;
    height: 60px;
    padding: 15px 165px;
    background-color: #F5FAFE; 
}

.items-navtop {
    display: inline-block;
}

#icon-gift {
    position: absolute;
    background-image: url(../images/gift.svg);
    width: 18px;
    height: 18px;
    left: 880px;
    top: 18px;
}

#gift-text {
    position: relative;
    left: 505px;
}

#icon-star {
    position: absolute;
    background-image: url(../images/star.svg);
    width: 18px;
    height: 18px;
    left: 1075px; 
    top: 18px;   
}

#loyalty-text {
    position: relative;
    left: 630px;    
}

#navbar {
    position: relative;
    height: 120px;
    padding: 30px 165px;
    font-size: 40px;
}

.items-navbar {
    display: inline-block;    
}

#title-navbar {
    width: 190px;
    height: 30px;
    margin-top: 10px; 
    font-family: 'Luckiest Guy', cursive;
    font-size: 24px;     
}

#title-navbar>p {
    display: inline-block;     
}

#tour-text {
    color: #ff0000;
}

#input-navbar {
    position: relative;
    width: 260px;
    height: 40px;
    left: 62px;
    bottom: 5px;
}

#btn-navbar {
    position: relative;
    width: 65px;
    height: 40px;
    background-image: url(../images/Find\ Button.svg);
    left: 50px;
    bottom: 10px;
    cursor: pointer;
    border: none;
}

#ico-cart {
    background-image: url(../images/shopping-cart.svg);
    position: relative;
    width: 24px;
    height: 24px;
    left: 250px;
    margin-top: 10px;
}

#badge-cart {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    border-radius: 50%;
    left: 975px;
    text-align: center ;
    font-size: 14px;
    color: #ffffff;
}


#img-user-navbar {
    position: relative;
    background-image: url(../images/user-photo-0001.svg);
    width: 40px;
    height: 40px;
    left: 285px;
}

#select-user-login {
    position: relative;
    width: 110px;
    left: 280px;
    bottom: 10px;
}

#navbar-bottom {
    position: relative;
    height: 80px;
    padding: 16px 165px;
    background-color: #0A223D;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
}

#menu-navbar-bottom {
    position: relative;
    margin-left: 0;
    padding: 0;
}

#menu-navbar-bottom li {
    position: relative;
    display: inline-block; 
    margin-left: 65px; 
    transform: scale(1);
    transition: all 0.2s 0s ease-in-out;   
}

#menu-navbar-bottom li:first-child {
    margin-left: 0;
    margin-right: 4px;
}

#menu-navbar-bottom li:last-child {
    left: 5px;
}

#menu-navbar-bottom a:link,
#menu-navbar-bottom a:visited {
    color: #ffffff;
    text-decoration: none;
} 

#menu-navbar-bottom li:hover{
    transform: scale(1.05); 
}

#bread-crumb {
    position: relative;
    padding: 10px 165px;
    height: 50px;
    background-color: #F5FAFE;
}

#menu-bread-crumb li{
    position: relative;
    display: inline-block; 
    margin: 0; 
    transform: scale(1);
    transition: all 0.2s 0s ease-in-out; 
}

#menu-bread-crumb li:hover{
    transform: scale(1.05); 
}

#title-hotel {
    position: relative;
    height: 100px;
    padding: 20px 165px;
    background-color: #F5FAFE;
}

#img-stars {
    width: 48px;
    height: 8px;
    background-image: url(../images/Stars.svg);
}

#title-hotel h1 {
    display: inline;
    font-size: 24px;
    font-weight: bold;
}

#offer-title-hotel {
    position: absolute;
    display: inline-block;
    width: 70px;
    height: 20px;
    background-color: #EC1F46;
    border-radius: 5%;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    padding-top: 4px;
    left: 450px;
    top: 33px;
}

#title-hotel h1 p {
    display: inline-block;
    font-size: 12;
}

#rating-title-hotel {
    position: absolute;
    width: 65px;
    height: 45;
    left: 1120px;
    bottom: 38px;
    background-color: #EC1F46;
    border-radius: 5%;
    color: #ffffff;
    text-align: center;
}

#rating-title-hotel>#row-1{
    font-size: 8;
    font-weight: 600;
}

#rating-title-hotel>#row-2{
    font-size: 14px;
    font-weight: bold;
}

#rating-title-hotel #row-2-2 {
    font-size: 10px;
}

#booking {
    display: flex;
    flex-flow: column wrap; 
    height: 450px;
    padding: 0 165px;    
}

#container-photo-booking,
#photo-booking {
    width: 680px;
    height: 425px; 
    border-radius: 5%;
    overflow: hidden;
}

#arrow-left-booking,
#arrow-right-booking {
    width: 30px;
    height: 30px;
    background-color: #cccccc3d;
    position: absolute;
    top: 600px;
    cursor: pointer;
}

#arrow-left-booking {
    background-image: url(../images/chevron-left.svg);
}

#arrow-right-booking {
    left: 815px;
    background-image: url(../images/chevron-right.svg);
}

#price-booking {
    align-self: flex-end;
    width: 328px;
    height: 205px;
    border-radius: 5%;
    background-color: #0A223D;
    color: #ffffff;
    padding: 20px 20px;
}

#menu-1-price-booking {
    display: inline-block;
    font-size: 8px;
}

#menu-1-price-booking li:nth-child(2) {
    font-size: 24px;
    font-weight: 800;
}

#menu-1-price-booking li:nth-child(3) {
    font-size: 12px;
}

#menu-1-price-booking li:nth-child(4) {
    font-size: 18px;
}

#menu-1-price-booking li:last-child {
    font-size: 18px;
    block-size: 600;
}

#menu-2-price-booking {
    display: inline-block;
    position: relative;
    left: 85px;
    text-align: end;
    font-size: 12px;
}

#menu-2-price-booking li:nth-child(3) {
    font-size: 36px;
}

#menu-2-price-booking:last-child {
    font-size: 18px;
    font-weight: 600;
}

#icon-peaple-booking {
    width: 14px;
    height: 14px;
}

#icon-room-booking {
    width: 14px;
    height: 14px;
    background-image: url(../images/icon-home.svg);
}

#icon-phone-booking {
    width: 14px;
    height: 14px;
    background-image: url(../images/icon-phone-call.svg);
}

#btn-booking {
    position: relative;
    width: 268px;
    height: 50px;
    border-radius: 2%;
    background-color: #EC1F46;
    top: 15px;
    left: 8px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding-top: 15px;
    cursor: pointer;
}

#map-booking {
    align-self: flex-end;
    position: relative;
    width: 328px;
    height: 205px;
    margin-top: 15px;
    border-radius: 5%;
    background-image: url(../images/map.svg);
}

#menu-map {
    position: absolute;
    display: inline-block;
    width: 145px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: -0.5px 1px 2px 1px rgba(0, 0, 0, 0.2); 
    font-family: 'Nunito', sans-serif;
    font-size: 7px;
    bottom: 10px;
    left: 80px;
    padding: 5px;
}

#menu-map li{
    display: inline;  
    margin-left: 20px;
    transition: all 0.3s 0s ease;   
}

#menu-map li:hover {
    color: #007ADF;
    cursor: pointer;
}

#btn-zoom-map {
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: -0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.2); 
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    top: 30px;
    right: 10px;
}

#btn-zoom-map li{
    padding-left: 4px;
    cursor: pointer;
}

#btn-zoom-map li:nth-child(2) {
    font-size: 3px;
    cursor: unset;
}


